* {
  font-family: "Courier New", monospace;
  font-weight: bolder;
}

*:hover {
  cursor: default;
}

input:hover {
  cursor: text;
}

.center-horizontally {
  display: flex;
  justify-content: center;
}

#nav {
  margin-left: 5vh;
  margin-right: 5vh;
  height: 60vh;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-around;
}

.navigate {
  background-color: #16d1ed;
  border-radius: 20px;
  width: 140px;
  height: 56px;
  font-weight: bold;
  font-size: 36;
}

.navbar {
  width: fit-content;
  height: 28px;
  font-size: 24;
}

button:hover {
  cursor: pointer;
  transform: translateY(2px);
}

body {
  margin: 0px;
  padding: 0px;
}

.links {
  height: 10vh;
  margin-top: 20px;
  display: flex;
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
  justify-content: space-between;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: baseline;
  background-color: lightslategray;
  width: fit-content;
  height: fit-content;
  padding: 25px;
  border-radius: 25px;
}

#instructions {
  display: flex;
  justify-content: center;
}

#instructions-text {
  width: 100vh;
}

#image-form {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: center;
  margin-top: 50px;
  padding: 2px;
  padding-bottom: 50px;
}

.image-request {
  padding: 5px;
  margin: 2px;
}

#image-display {
  padding: 5px;
  border: 1px solid black;
  width: 266px;
  height: 266px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
}

#game-main {
  height: fit-content;
}

#prompt {
  width: 500px;
}

#get-image {
  width: 200px;
}

#title {
  margin-top: 250 px;
  width: auto;
}

#title-text {
  color: rgb(6, 9, 11);
  font-size: 50px;
  font-weight: bolder;
}

#title-container {
  position: absolute;
  top: 50px;
}

.background-image {
  background-image: url("../res/AI_background.webp");
}

#navbar-title {
  color: rgb(6, 9, 11);
  font-size: 32px;
  font-weight: bolder;
}

.fixed {
  position: fixed;
}

.card {
  position: absolute;
  top: 20vh;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 40px;
  width: 95vh;
  height: 50vh;
  padding: 50 px;
}

.fill-card {
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 40px;
  width: fit-content;
  height: fit-content;
  padding: 20px;
}

.tight-fill-card {
  margin-top: 1vh;
  background-color: rgba(255, 255, 255, 0.65);
  border-radius: 40px;
  width: fit-content;
  height: 8vh;
  padding-left: 5px;
  padding-right: 5px;
  align-items: center;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.35s, opacity 0.35s linear;
}

.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s linear;
}

.move-up {
  transform: translateY(-60%);
  transition: 1.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.move-down {
  transform: translateY(230%);
  transition: 0.5s linear;
}
